In [10]:
import pandas as pd
import numpy as np
import re

In [11]:
!ls

 Book.ipynb  'DB connect.ipynb'   Rent.ipynb

In [12]:
# 단행본(도서)정보.txt
book_df = pd.read_csv('../Data/단행본(도서)정보.txt', sep=',', encoding='EUC-KR')
book_df[:3]

,도서ID,등록일자,수서방법,분류코드,ISBN,서명,저자,출판사,출판년도,소장위치
0,SS_270312,2017-09-13,학과신청,194,9782020658706,Le courage de la verite :le gouvernement de so...,"Foucault, Michel",Gallimard,2009,4층인문
1,SS_233793,2008-10-13,수서정보없음,160,9788995605189,김나지움 논리학입문,"Hegel, Georg Wilhelm Friedrich",용의숲,2008,보존서고
2,SS_233788,2008-10-13,수서정보없음,160,9788995605189,김나지움 논리학입문,"Hegel, Georg Wilhelm Friedrich",용의숲,2008,4층인문

In [13]:
book_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301151 entries, 0 to 301150
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   도서ID    301151 non-null  object
 1   등록일자    301151 non-null  object
 2   수서방법    301151 non-null  object
 3   분류코드    301151 non-null  object
 4   ISBN    301151 non-null  object
 5   서명      301151 non-null  object
 6   저자      291524 non-null  object
 7   출판사     300948 non-null  object
 8   출판년도    300966 non-null  object
 9   소장위치    301151 non-null  object
dtypes: object(10)
memory usage: 23.0+ MB

In [14]:
book_df.isnull().sum() / len(book_df)

도서ID    0.000000
등록일자    0.000000
수서방법    0.000000
분류코드    0.000000
ISBN    0.000000
서명      0.000000
저자      0.031967
출판사     0.000674
출판년도    0.000614
소장위치    0.000000
dtype: float64

In [15]:
# 전체 전처리
pre_df = book_df.copy()

In [16]:
# 분류코드 전처리
pre_df = pre_df[pre_df['분류코드'] != '0198129009 (v.2)']
pre_df['분류코드'] = pre_df['분류코드'].str.replace(',', '.')
pre_df['분류코드'] = pre_df['분류코드'].str.replace('..', '.')
# 숫자와 소수점만 남기기
pre_df['분류코드'] = pre_df['분류코드'].str.extract(r'([\d.]+)')
pre_df['분류코드'] = pre_df['분류코드'].str.rstrip('.')
#pre_df['분류코드'] = pre_df['분류코드'].astype(float)

In [17]:
# 1. 모든 4자리 연도 추출
pre_df['출판년도'] = pre_df['출판년도'].apply(lambda x: re.findall(r'\d{4}', str(x)))

# 2. 뒤에서부터 2024보다 작은 값 선택
def extract_year(years):
    # 뒤에서부터 작은 값 찾기
    for year in reversed(years):  # 뒤에서부터 탐색
        if int(year) < 2025:     # 조건 만족 시 반환
            return year
    return None  # 조건에 맞는 값이 없으면 None 반환

pre_df['출판년도'] = pre_df['출판년도'].apply(extract_year)

In [18]:
pre_df.isnull().sum() / len(pre_df)

도서ID    0.000000
등록일자    0.000000
수서방법    0.000000
분류코드    0.000000
ISBN    0.000000
서명      0.000000
저자      0.031968
출판사     0.000674
출판년도    0.006090
소장위치    0.000000
dtype: float64

In [19]:
# '출판년도'가 결측값이 아닌 행만 필터링
filtered_df = pre_df[pre_df['출판년도'].isnull()]  # ~ 연산자는 NOT 의미

# 결과 출력
print(filtered_df)

             도서ID        등록일자    수서방법       분류코드           ISBN  \
457     SS_192863  1995-04-20  수서정보없음     001.64              0
482     SS_138640  1973-03-02  수서정보없음        428  9780070458017
515     SS_217712  1995-01-23  수서정보없음        016              0
600     SS_300618  2013-12-24    학과신청    296.834  9781782380078
742     SS_261919  1998-06-19  수서정보없음      937.5              0
...           ...         ...     ...        ...            ...
300615  SS_141656  2024-09-25   이용자희망      155.2  9781032834351
300628  SS_141657  2024-09-25   이용자희망      198.5  9781032547107
300642  SS_141659  2024-09-25   이용자희망        809  9781032191690
300654  SS_141662  2024-09-25   이용자희망      701.3  9781032385914
300695  SS_141665  2024-09-25   이용자희망  973.46092  9780813347738

                                                       서명  \
457     SPSS :online version 7.0 6000 release 8.0 6000...
482                                     English for today
515                                                  學術總覽
600     The legacy of liberal Judaism :Ernst Cassirer ...
742                     The art of etruria and early rome
...                                                   ...
300615  The concept of the individual in psychoanalysi...
300628  What is the sociology of philosophy? : studies...
300642    The Routledge companion to migration literature
300654  Utopian and dystopian explorations of pandemic...
300695                     Sally Hemings : given her time

                            저자                       출판사  출판년도  소장위치
457                        NaN               McGraw-Hill  None  보존서고
482          Slager, William R               McGraw-Hill  None  보존서고
515                        학술원                       학술원  None  보존서고
600              Curthoys, Ned                       NaN  None  4층인문
742               G.A.Mansuell  Greystone Press new york  None  보존서고
...                        ...                       ...   ...   ...
300615           Moncayo, Raul                 Routledge  None  4층인문
300628  Heidegren, Carl-Go?ran                 Routledge  None  4층인문
300642             Adair, Gigi                 Routledge  None  4층인문
300654        Alberro, Heather                 Routledge  None  4층인문
300695           Fought, Leigh                 Routledge  None  4층인문

[1834 rows x 10 columns]

In [20]:
pre_df = pre_df.dropna(subset=['출판년도'])

In [21]:
#pre_df['출판년도'] = pre_df['출판년도'].astype(int)

In [22]:
pre_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 299315 entries, 0 to 301150
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   도서ID    299315 non-null  object
 1   등록일자    299315 non-null  object
 2   수서방법    299315 non-null  object
 3   분류코드    299315 non-null  object
 4   ISBN    299315 non-null  object
 5   서명      299315 non-null  object
 6   저자      290158 non-null  object
 7   출판사     299268 non-null  object
 8   출판년도    299315 non-null  object
 9   소장위치    299315 non-null  object
dtypes: object(10)
memory usage: 25.1+ MB

In [23]:
# ISBN 전처리
# 숫자로 변환할 수 없는 값 처리
def clean_isbn(isbn):
    isbn = re.sub(r'\D', '', isbn)  # 숫자가 아닌 모든 문자 제거
    return int(isbn) if isbn.isdigit() else None

# ISBN 열 전처리
pre_df['ISBN'] = pre_df['ISBN'].apply(clean_isbn)

# 결측치 처리 (선택적으로 제거하거나 다른 값으로 대체)
pre_df = pre_df.dropna(subset=['ISBN'])  # 결측치 제거

In [24]:
pre_df['ISBN'] = pre_df['ISBN'].astype(object)

In [25]:
pre_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 299315 entries, 0 to 301150
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   도서ID    299315 non-null  object
 1   등록일자    299315 non-null  object
 2   수서방법    299315 non-null  object
 3   분류코드    299315 non-null  object
 4   ISBN    299315 non-null  object
 5   서명      299315 non-null  object
 6   저자      290158 non-null  object
 7   출판사     299268 non-null  object
 8   출판년도    299315 non-null  object
 9   소장위치    299315 non-null  object
dtypes: object(10)
memory usage: 25.1+ MB

In [26]:
pre_df['출판사'] = pre_df['출판사'].fillna('출판사 없음')
pre_df['저자'] = pre_df['저자'].fillna('저자 없음')

In [27]:
# '출판년도'가 결측값이 아닌 행만 필터링
filtered_df = pre_df[pre_df['출판사'].isnull()]

# 결과 출력
print(filtered_df)

Empty DataFrame
Columns: [도서ID, 등록일자, 수서방법, 분류코드, ISBN, 서명, 저자, 출판사, 출판년도, 소장위치]
Index: []

In [28]:
pre_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 299315 entries, 0 to 301150
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   도서ID    299315 non-null  object
 1   등록일자    299315 non-null  object
 2   수서방법    299315 non-null  object
 3   분류코드    299315 non-null  object
 4   ISBN    299315 non-null  object
 5   서명      299315 non-null  object
 6   저자      299315 non-null  object
 7   출판사     299315 non-null  object
 8   출판년도    299315 non-null  object
 9   소장위치    299315 non-null  object
dtypes: object(10)
memory usage: 25.1+ MB

In [29]:
pre_df.isnull().sum() / len(pre_df)

도서ID    0.0
등록일자    0.0
수서방법    0.0
분류코드    0.0
ISBN    0.0
서명      0.0
저자      0.0
출판사     0.0
출판년도    0.0
소장위치    0.0
dtype: float64

In [54]:
import os

from mysql import connector
from dotenv import load_dotenv

# Access environment variables
load_dotenv()

NAME = os.getenv("DB_NAME")
USER = os.getenv("DB_USER")
PASSWORD = os.getenv("DB_PASSWORD")
IP = os.getenv("DB_IP")
PORT = os.getenv("DB_PORT")

In [55]:
class Database:
    _connection = None  # 클래스 변수로 연결 상태 관리

    @staticmethod
    def get_connection():
        if Database._connection is None or not Database._connection.is_connected():
            Database._connection = connector.connect(
                database = NAME,
                user = USER,
                password = PASSWORD,
                host = IP,
                port = PORT
            )
        return Database._connection

In [56]:
def execute(query, values=None):
    try:
        conn = Database.get_connection()
        cursor = conn.cursor()

        # values가 있으면 쿼리와 함께 전달
        if values:
            cursor.execute(query, values)
        else:
            cursor.execute(query)

        # 쿼리 유형 판별
        if query.strip().upper().startswith("SELECT"):
            rows = cursor.fetchall()  # SELECT인 경우에만 fetchall() 호출
            for row in rows:
                print(row)

        conn.commit() 
        cursor.close()
        
    except connector.Error as e:
        print(f"Error: {e}")

In [57]:
def batch_insert(query, values_list, batch_size=1000):
    """
    Batch Insert with transaction optimization
    :param query: SQL query
    :param values_list: List of values to insert
    :param batch_size: Number of rows per batch
    """
    try:
        conn = Database.get_connection()
        cursor = conn.cursor()

        # 트랜잭션 시작
        total_rows = len(values_list)
        for i in range(0, total_rows, batch_size):
            batch = values_list[i : i + batch_size]
            cursor.executemany(query, batch)  # Batch Insert
            conn.commit()  # Batch마다 커밋 (너무 자주 커밋하지 않음)

        cursor.close()
    except connector.Error as e:
        print(f"Error: {e}")
        conn.rollback()  # 오류 발생 시 롤백


# SQL 쿼리
query = """
INSERT INTO book 
(ID, registration, get_course, DDC, ISBN, title, author, publisher, publication_year, location) 
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# 데이터 준비
values_list = [
    (
        pre_df.iloc[i, 0], pre_df.iloc[i, 1], pre_df.iloc[i, 2], pre_df.iloc[i, 3],
        pre_df.iloc[i, 4], pre_df.iloc[i, 5], pre_df.iloc[i, 6], pre_df.iloc[i, 7],
        pre_df.iloc[i, 8], pre_df.iloc[i, 9]
    )
    for i in range(len(pre_df))
]

# Batch Insert 실행
batch_insert(query, values_list, batch_size=1000)