In [41]:
import os

from mysql import connector
from dotenv import load_dotenv

# Access environment variables
load_dotenv()

NAME = os.getenv("DB_NAME")
USER = os.getenv("DB_USER")
PASSWORD = os.getenv("DB_PASSWORD")
IP = os.getenv("DB_IP")
PORT = os.getenv("DB_PORT")

In [44]:
class Database:
    _connection = None  # 클래스 변수로 연결 상태 관리

    @staticmethod
    def get_connection():
        if Database._connection is None or not Database._connection.is_connected():
            Database._connection = connector.connect(
                database = NAME,
                user = USER,
                password = PASSWORD,
                host = IP,
                port = PORT
            )
        return Database._connection

In [66]:
def execute(query, values=None):
    try:
        conn = Database.get_connection()
        cursor = conn.cursor()

        # values가 있으면 쿼리와 함께 전달
        if values:
            cursor.execute(query, values)
        else:
            cursor.execute(query)

        rows = cursor.fetchall()
        for row in rows:
            print(row)

        cursor.close()
    except connector.Error as e:
        print(f"Error: {e}")

In [67]:
execute("SHOW TABLES")

('DDC_count',)
('ISBN_rent_count',)
('book',)
('recent_rent',)
('rent',)
('rent_count',)

In [68]:
import pandas as pd
import numpy as np

In [51]:
# 단행본(도서)정보.txt
book_df = pd.read_csv('../Data/단행본(도서)정보.txt', sep=',', encoding='EUC-KR')
book_df[:3]

,도서ID,등록일자,수서방법,분류코드,ISBN,서명,저자,출판사,출판년도,소장위치
0,SS_270312,2017-09-13,학과신청,194,9782020658706,Le courage de la verite :le gouvernement de so...,"Foucault, Michel",Gallimard,2009,4층인문
1,SS_233793,2008-10-13,수서정보없음,160,9788995605189,김나지움 논리학입문,"Hegel, Georg Wilhelm Friedrich",용의숲,2008,보존서고
2,SS_233788,2008-10-13,수서정보없음,160,9788995605189,김나지움 논리학입문,"Hegel, Georg Wilhelm Friedrich",용의숲,2008,4층인문

In [69]:
for i in range(1, len(book_df)):
    query = """
    INSERT INTO book 
    (ID, registration, get_course, DDC, ISBN, title, author, publisher, publication_year, location) 
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    values = (
        book_df.iloc[i, 0], book_df.iloc[i, 1], book_df.iloc[i, 2], book_df.iloc[i, 3],
        book_df.iloc[i, 4], book_df.iloc[i, 5], book_df.iloc[i, 6], book_df.iloc[i, 7],
        book_df.iloc[i, 8], book_df.iloc[i, 9]
    )
    execute(query, values)

/tmp/ipykernel_16354/1967274542.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  book_df.loc[i][0], book_df.loc[i][1], book_df.loc[i][2], book_df.loc[i][3],
/tmp/ipykernel_16354/1967274542.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  book_df.loc[i][4], book_df.loc[i][5], book_df.loc[i][6], book_df.loc[i][7],
/tmp/ipykernel_16354/1967274542.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  book_df.loc[i][8], book_df.loc[i][9]

Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1
Error: 1264 (22003): Out of range value for column 'ISBN' at row 1

KeyboardInterrupt:

In [57]:
book_df.loc[0]

도서ID                                            SS_270312
등록일자                                           2017-09-13
수서방법                                                 학과신청
분류코드                                                  194
ISBN                                        9782020658706
서명      Le courage de la verite :le gouvernement de so...
저자                                       Foucault, Michel
출판사                                             Gallimard
출판년도                                                 2009
소장위치                                                 4층인문
Name: 0, dtype: object